.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .ce-toolbar__plus:hover {
  background: #000000;
  color: inherit;
  border-color: #27272a;
}

.ce-popover-item:hover > .ce-popover-item__title {
  color: #000000;
}

.ce-popover-item .ce-popover-item__title {
  color: #ffffff;
}

.link-tool__content {
  background: #18181b !important;
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: inherit;
}

.dark .ce-popover__item-icon,
.dark .ce-conversion-tool__icon {
  background-color: #3f3f46;
  box-shadow: none;
}

.dark .cdx-search-field {
  border-color: #27272a;
  background: #18181b;
}

.dark ::selection {
  background: #27272a;
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: #3f3f46;
  color: #ffffff;
}

.dark .cdx-notify--error {
  background: #f31260 !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: #ffffff;
}
